<h1>My Lists</h1> <a href="/task_lists/new">+ Add Task List</a>

<br>

<div class="flash">
  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>
</div>

<% @task_lists.each do |task_list| %>

  <section class="task-list">


    <h1><%= link_to "#{task_list.name}", "/task_lists/#{task_list.id}" %></h1>
    <%= link_to "Edit", "/task_lists/#{task_list.id}/edit" %>
    <%= link_to "+ Add Task", "/task_lists/#{task_list.id}/tasks/new" %>
    <% task_list.tasks.each do |task| %>
      <p><%= task.task %> (<%= distance_of_time_in_words(task.due_date, Time.now) %>)</p>

      <%= button_to "Delete", "/task_lists/#{task_list.id}/tasks/#{task.id}", method: :delete, html: {class: "delete_link"} %>
    <% end %>

  </section>


<% end %>


