<h1>My Lists</h1> <a href="/task_lists/new">+ Add Task List</a>

<br>

<div class="flash">
  <% if flash[:notice] %>
    <%= flash[:notice] %>
    <button class="flash-button">X</button>
  <% end %>
</div>

<% @task_lists.each do |task_list| %>

  <section class="task-list">

    <button data-text-swap="Close">Open</button>
    <div class="left"><h1><%= link_to "#{task_list.name}", "/task_lists/#{task_list.id}" %></h1></div>
    <div class="right"><%= link_to "Edit", "/task_lists/#{task_list.id}/edit" %>
      <%= link_to "+ Add Task", "/task_lists/#{task_list.id}/tasks/new" %></div>

    <ul style="display: none;">
    <% task_list.tasks.each do |task| %>
      <div class="tasks"><%= task.task %> (<%= distance_of_time_in_words(task.due_date, Time.now) %>)</div>
    <% end %>
    </ul>
  </section>

<% end %>


