<h1>Add a task list</h1>

<%= form_for @task_list, html: {class: "create"} do |f| %>


  <% if @task_list.errors.any? %>
    <div class="errors">
      <ul>
        <% @task_list.errors.full_messages.each do |message| %>
          <%= message %>
          </ul>
          </div>
        <% end %>

  <% end %>

  <div class="container">
    <%= f.label :name %>
   <br>
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="container">
    <%= f.submit "Create Task List" %>
  </div>
  <br>
<% end %>

